html,body{
	background: linear-gradient(45deg, #0081ff, #1cbbb4);
	min-height: 100%;
}
.head-box{
	margin-top: 30px;
	width: 100%;
	border-radius: 25px;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.3);
	padding: 10px 20px;
	background: #fff;
}

.info{
	width: 100%;
	height: 100%;
	text-align: center;
}
.info-left{
	display: inline-block;
	width: 49%;
	border-right: 1px solid gray;
}

.info-right{
	display: inline-block;
	width: 49%;

}
.body-box{
	margin-top: 30px;
	background: #fff;
	width: 100%;
	border-radius: 25px;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.3);
	padding: 10px 20px;
}